version: "3.9"
services:
  php-apache:
    ports:
      - "9000:80"
    build: './build/php'
    volumes:
      - .:/var/www/html
    depends_on:
      - db
  db:
    ports:
      - "3306:3306"
    build: './build/mysql'
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
      MYSQL_DATABASE: my-website
    volumes:
      - dbData:/var/lib/mysql
      - ./bdd.sql:/docker-entrypoint-initdb.d/bdd.sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST: db
      PMA_PORT: 3306
      UPLOAD_LIMIT: 20M
    ports:
      - 8899:80
    depends_on:
      - db

volumes:
  dbData:

