#container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

h2, h3, h4 {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

h2 {
    color: white;
    filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.8));
}

#content-container {
    padding: 0.5em;
    border: 0.1em solid rgb(200, 200, 200);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5em;
}

table {
    padding: 0.5em;
    border: 0.1em solid rgb(200, 200, 200);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5em;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 0.3em 0.75em;
}