h1{
    text-align: center;
}

/* Style de base pour la barre de navigation */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
}
  
/* Style de la liste <ul> dans la barre de navigation */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
/* Style des éléments <li> dans la barre de navigation */
.navbar li {
    text-align: center;
}
  
/* Style des liens <a> dans la barre de navigation */
.navbar a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Style des liens au survol de la souris */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.container {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
  
table tr:hover {
    background-color: #f5f5f5;
}

table td:first-child {
    color: #000000; /* Couleur de la colonne de gauche */
    font-weight: bold;
}

table td:last-child {
    color: #585858; /* Couleur de la colonne de gauche */
}

table td:last-child:hover {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
  
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #45a049;
}
